@font-face {
    font-family: 'Mona Sans';
    src: url(fonts/Mona-Sans.woff) format('woff'),
        url(Fonts/Mona-Sans.woff2) format('woff2');
}

body {
    font-family: 'Mona Sans';
    color: #847979;
    background-color: #EDE7D9;
    padding-left: 20px;

}

.topnav {
    display: flex;
    background-color: #022B3A;
    color: #EDE7D9;
    max-height: fit-content;
}

.title {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.topnavitems {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    padding: 3px;
}

h2 {
    color: #022B3A;
    font-weight: bolder;
    font-size: clamp(21px, 4vw, 42px);
    padding-top: .5em;
    padding-bottom: .7em;
}

h3 {
    font-size: clamp(21px, 1.5vw, 42px);
    font-weight: bold;
}

p {
    font-size: 16px;
}

a:link {
    color: #EDE7D9;
    text-decoration: none;
}

a:visited {
    color: #0a7197;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #022B3A;
    padding: 10px;
    color: #EDE7D9;
}

@media screen and (min-width: 768px) {
    .main {
        max-width: 75%;
    }

    .topnav {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-right: 15px;
    }

    .topnavitems {
        display: inline;
    }

}