#main-header {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 0;
}

.hero {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.image-container img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}

.hero-text {
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}



.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}

.feature {
    width: 48%;
}